@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --text--color: #212121;
    --text1--color: #1d1d1d;
    --text2--color:#474747;
    --background--color:#ff7004;
    --background1--color: #f4f5f7;
    --background2-color: #007a58;
    --background3-color:#f0f0f0;
}
body {
 font-family: Raleway,sans-serif;
 margin: 0;
 }
p,h1,h2,h3,h4,h5,h6,ul,li {
        margin: 0;
        padding:0;
        font-family: Raleway,sans-serif;
        color: var(--text2--color);
}
.productTypeCell {
    display: flex; /* Để hiển thị các thẻ liên tục với khoảng cách */
    gap: 8px; /* Khoảng cách giữa các tag */
  }
  
.productTypeTag {
  background-color: rgba(201, 201, 201, 0.47);
  color: #000000;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
}
.MuiDialog-root .MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.089); 

}

.MuiDialog-paper {
  position: relative; 
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.list {
  display: flex;
  width: 100%;
  
}
.listContainer {
  flex: 6;
}

.container{
  border-radius: 10px;
  border: 1px solid #ddd; 
  padding:20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.MuiButton-root, .MuiTab-root, .MuiTypography-root {
  text-transform: none !important;
}

.MuiTabs-indicator {
  background-color: var(--background--color) !important; 
}
